body {
  background-image: url(backimage.jpeg);
}

.sidebar {
  width: 30%;
  height: 80;
  float: right;

}
.text-box{
  padding: 100px;
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
    
}
