body {
  background-image: url(backimage.jpeg);
}

.sidebar {
  width: 30%;
  height: 80;
  float: right;

}
.text-box{
  margin: 20px;
  padding: 100px;
  border-left: 15px solid black;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
    
}

.name {
  font-size: 30px;
  font-style: italic;
}